#welcome_index h1 {
  font-size: 64px; }
#welcome_index .instructions {
  margin-top: 1.5em;
  font-size: 24px;
  font-weight: strong; }
#welcome_index .search {
  width: 400px;
  margin: 0px auto;
  margin-top: 1.5em; }
  #welcome_index .search input {
    font-size: 36px; }
  #welcome_index .search label {
    font-size: 18px; }
