%h1 Track Congress on Twitter

%p.instructions
  Not sure where to start? Search for your zip-code or address.
  
=field "Search", :search

%p.also
  Or Search For a Topic In the News. Or the Name of a Member of Congress.
  
%h2 Or Check out These Hot Topics and Interesting Users:

%ol.interesting
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"
  
%h2 These Are Some of the Most Popular ReTweeted Items

%ol
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"
  %li=link_to "Something", "#"

