<!DOCTYPE html>
%html  
  %head
    %title>Track Congress on Twitter &mdash; Tech By WhatTech</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/compiled/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />

  %body{:id => "#{controller_name}_#{action_name}"}
    = message[:notice]
    = catch_content :for_layout
